<!DOCTYPE html>
<html lang="en" ng-app="indexModulo">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="assets/js/angular.min.js"></script>

    <script src="controller/index.js"></script>
    <title>A&J </title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   
    <!-- Plugin CSS -->
    <link href="assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="assets/css/creative.min.css" rel="stylesheet">
    <link href="assets/css/creative.css" rel="stylesheet">
    <link href="assets/css/index.css" rel="stylesheet">
  </head>

  
  <body id="page-top" ng-controller="indexController">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Amanda & Junior</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:#955251" href="#portfolio">Presentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:#955251" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:#955251" href="#contact">Contatos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 >
              <div class="custom_text_title" >Amanda & Junior</div>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="custom_text_title" ><span ng-bind="infoDiasString"></span></p>
          </div>
        </div>
      </div>
    </header>

   
    <section class="p-0" id="portfolio">


      <br/>
        <div class="container">
              <br/>
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">Presentes</h2>
                <hr class="my-4">

                <p class="mb-5">Projetos com os quais tiver o prazer de participar , da criação e manutenção dos mesmos</p>
              </div>
            </div>


            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th align="center" style="text-align:center" scope="col">Presente</th>
                    <th align="center" style="text-align:center" scope="col">Cor</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="presenteTabela in presentes | filter:pesquisaPresente" ng-click="selecionaPresentes(
                    selecionaPresentes)">
                    <td align="center">{{presenteTabela.produto}}</td>
                    <td align="center">{{presenteTabela.corProduto}}</td>
                    <td align="center"> <button type="submit" class="btn btn-info" ng-click="selecionaPresentes(selecionaPresentes)">Presentear</button></td>
                  </tr>
                  
                </tbody>
              </table>
          </div>
        </div>

        <br/>
      </section>



    <section class="bg-primary" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">Sejam bem-vindos ao nosso site!</h2>
              <p class="text-faded mb-10">"Acima de tudo, porém, revistam-se do amor, que é o elo perfeito." (Colossenses 3:14)</p>
              <hr class="light my-4">
              <p class="text-faded mb-4">
                  <b>Familia e Amigos,</b><br />
                  Como é bom poder contar com vocês na realização do nosso sonho!
                  A contagem regressiva começa. Nos enche de alegria tê-los ao nosso lado. Vamos juntos nesse grande sonho!
                  A vida é concretizada por meio do amor e construída através de nossos sonhos. É no amor que reconhecemos que nós dois somos um.
                  Estamos muito felizes de poder compartilhar tudo com vocês.
                  Usem e abusem da nossa hashtag #amandaejunior
                  Agradecemos desde já por todo carinho e pela presença.<br />
                  ♥<br />
                  Amanda Sayara e Junior Braga</p>
            </div>
          </div>
        </div>
      </section>


    <section id="contact" class="bg-junior text-center text-white d-flex">
      
            <!-- <img src="assets/img/amanda_junior.jpeg" alt="Amanda & Junior" width="100%" height="100%"> -->
     
    </section>    

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/js/creative.min.js"></script>

  </body>

</html>